body{
background-image:url (https://img.buzzfeed.com/buzzfeed-static/static/2014-05/enhanced/webdr04/27/14/anigif_enhanced-25640-1401213711-5.gif");
background-repeat:no-repeat;
background-positon:center;
background-color:red;
}
img{
height:20%;
widgh:20%;
}
